html {
    background-color: black;
    color: white;
}
.color {
    color: red;
}
.color-1 {
    color: yellow;
}
.titulo {
    margin-left: 1%;
    font-size: 50px;
    font-style: italic;
}
.telegram {
    float: right;
    height: 50px;
    margin-right: 1%;
}
